.container-contact {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    border: 1px solid var(--orange);
    border-radius: 20px;
    padding: 1rem;;
}
.ButtonStyle {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    min-width: 200px;
    border-top-right-radius: 25px;
    color: var(--grey);
}
.ButtonStyle:hover {
    color:var(--orange);
    background-color: var(--grey);
    border: 1px solid var(--orange);
}
@media(max-width: 640px){
    .container-contact {
        padding: 1rem;
        margin-top: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}