<div class="container-contact">
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <p class="h4 mb-4 titre">Contacter-nous</p>
    <input type="text" formControlName="name" id="defaultContactFormName" mdbInput
      class="form-control mb-4" placeholder="Nom">
    <input type="email" formControlName="email" id="defaultContactFormEmail" mdbInput
      class="form-control mb-4" placeholder="E-mail">
    <label>Sujet</label>
    <select formControlName="sujet" class="browser-default custom-select mb-4">
      <option value="" disabled>Choissisez une option</option>
      <option value="1" selected>Retour sur le site</option>
      <option value="2">Declarer un bug</option>
      <option value="3">Faire une réclamation</option>
      <option value="4">Autre demande</option>
    </select>
    <div class="form-group">
      <textarea formControlName="message" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
        rows="3" placeholder="Message"></textarea>
    </div>
    <mdb-checkbox [default]="true" class="mb-4">Envoyer moi une copie du message.</mdb-checkbox>
    <button mdbBtn class=" waves-effect ButtonStyle" mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Envoyer</button>
  </form>
</div>