.list-group {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;  
}
.list-group a {
    display: flex;
}
.text-description {
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.size-image {
    width: 100px;
    margin-right: 20px;
    margin-top: 20px;;
}
.trash {
    margin-left: 20px;
    margin-top: 20px;
    color: var(--orange);
}
a:nth-child(even) {
    background: var(--blue);
    color: var(--black);
}
a:nth-child(odd) {
    background: var(--grey);
    color: var(--black)
}
.video {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display:block;
}
.cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: green;
    text-align: center;
    line-height: 40px;
    color: var(--grey);
}
.avatar {
    margin-right: 1rem;
}
.comment {
    border: 1px solid var(--orange);
}
.post {
    width: 90%;
    min-height: 60px;  
    border-color: var(--grey);
}
.postButton {
    width: 10%;
    min-height: 60px;
    color: var(--orange);
    background-color: var(--grey);
    border-color: var(--grey);
}
@media(max-width: 800px){
    
    .list-group{
        padding: 0rem 1rem;
    }
    .list-group img {
        width: 100%;
    }
    .text-description {
        margin: 1rem;
    }
}

.detail{
    border: 1px solid var(--orange);
    border-radius: 20px;
    padding: 1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.affichageContenu {
    padding: 1rem;
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 1rem;
}
.affichageContenu iframe {
    height: 500px;
}
.identite {
    background-color: var(--blue);
    border-radius: 10px;
    border: 1px solid var(--orange);
    padding: 1rem;
}
.createur {
    display: flex;
    justify-content: space-between;
}
.titreDetail {
    font-weight: 400;
    font-size: 1.5rem;
}
@media(max-width: 640px) {
    .affichageContenu iframe {
        height: 250px;
    }
}