<div class="titre">{{ detail.titre }}</div>
<div class="detail">
  <div class="affichageContenu" [ngSwitch]="detail.typeRessourceId">
    <iframe *ngSwitchCase="'Vidéos'" class="video" width="100%" frameborder="0" [src]="url" allowfullscreen></iframe>
    <div *ngSwitchCase="'Article' ||'Texte'">{{ detail.contenu }}</div>
  </div>
  <div class="identite">
    <div class="titreDetail">{{ detail.titre }}</div>
    <small class="type">{{ detail.categorieId }} - {{ detail.typeRelationId }} - {{ detail.typeRessourceId }}</small>
    <div class="text-description">{{ detail.description }}</div>
    <div class="createur">
      <div>{{ detail.userId }}</div>
      <div>{{detail._created * 1000 | date: 'dd-mm-yyyy' }}</div>
    </div>
  </div>
</div>

<div class="list-group">
  <div class="titre">Commentaires</div>
    <div class="comment list-group-item-action align-items-start">
      <form>
        <input class="post" type="text" name="commentaire" placeholder="Ajouter votre commentaire.."/>
        <button class="postButton" type="submit" name="post"><i class="fas fa-paper-plane fa-lg"></i></button>
      </form>
      
    </div>
    <a href="#" class="list-group-item list-group-item-action align-items-start active" *ngFor="let list of lists">
        <div class="avatar">
            <div class="cercle"><strong>A</strong></div>
        </div>
        <div class="d-flex w-100 flex-column commentaire">
          <h5 class="mb-1">{{list.auteur}} - {{list.date}}</h5>
          <p class="mb-1">{{list.description}}</p>
        </div>
        <div class="trash">
          <mdb-icon fas icon="trash" size="2x"></mdb-icon>
        </div>
    </a>
  </div>

