.sidenav {
    position: absolute;
    max-width: 2500px;
    max-height: 400px;
    top: 4rem;
    left: 0;
    z-index: 100;
    background-color: var(--blue);
}

.menu_burger {
    color:var(--grey);
    height: 2rem;
}
.activeSide {
    display: inline-block;
}
.inactive {
    display:none;
}
.side{
    padding: 1rem 0.5rem;
    border-bottom: 1px dotted var(--black);
}
.mobile {
    display: none
}
.footer-copyright{
    background-color: var(--blue) !important;
}
.link {
    color: var(--grey)!important;
}
@media(max-width:800px){
    .web {
        display: none;
    }
    .mobile {
        display: inline;
    }
}
