
<div class="titre">Résultat de la recherche</div>
<div class="card-container" >
<mdb-card class="card" *ngFor="let list of lists">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
      <a routerLink="/fiche">
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>{{list.titre}}</h4>
      </mdb-card-title>
      <table class="tableau">
        <thead>
            <tr>
                <th>catégorie</th>
                <th>relation</th>
                <th>ressource</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{list.categorie}}</td>
                <td>{{list.relation}}</td>
                <td>{{list.ressource}}</td>
            </tr>
        </tbody>
    </table>
      <mdb-card-text> 
       {{list.description}}
      </mdb-card-text>
      <div class="auteur">
        <small>{{list.auteur}}</small>
      <small>{{list.date}}</small>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>
