.card {
    max-width: 250px;
    margin-right: 1rem;
    margin-bottom: 1rem;

}
.card-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 100px;
} 
.tableau {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.tableau th {
    border:1px solid var(--orange);
    border-collapse: collapse;
    text-align: center;
}
.tableau td {
    border:1px solid var(--orange);
    border-collapse: collapse;
    text-align: center;
}
.auteur {
    display: flex;
    justify-content: space-between;
}
@media(max-width: 640px) {
    .card-container {
        justify-content:center;
        margin-left: 1rem;
    }
    .card {
        max-width: 600px;
    }
}