<!--/.Navbar-->
<div class="container">
    <h1 class="titresite"><img src="/assets/logo/relationnel.png" alt="logo relationnel"></h1>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration 
      in some form, by injected humour, or randomised words which don't look even slightly believable. If 
      you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
       in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as 
       necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin 
       words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
       e generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic 
       words etc.</p>
    <form [formGroup]="searchResult" (ngSubmit)="onSubmit()">
      <div class="md-form active-pink active-pink-2 mb-3">
        <input class="form-control" type="search" id="search1" aria-label="Search" formControlName="search" mdbInput>
        <label for="search1">Search</label>
      </div>
      <div class="selector">
        <div class="d-flex flex-column select-one">
          <label>Catégorie</label>
          <select class="browser-default custom-select selectSize" formControlName="categorie">
            <option selected>Categorie</option>
            <option [value]="item.titre" *ngFor="let item of categories">{{ item.titre }}</option>
          </select>
        </div>
       <div class="d-flex flex-column select-one">
         <label>Type de relation</label>
         <select class="browser-default custom-select selectSize" formControlName="relation">
          <option selected>Type de relation</option>
          <option [value]="relation.titre" *ngFor="let relation of typeRelation">{{ relation.titre }}</option>
        </select>
       </div>
        <div class="d-flex flex-column select-one">
          <label>Type de ressource</label>
          <select class="browser-default custom-select selectSize" formControlName="ressource">
            <option selected>Type de ressource</option>
            <option [value]="ressource.titre" *ngFor="let ressource of typeRessource">{{ ressource.titre }}</option>
          </select>
        </div>
      </div>
    <button type="submit" class="btn ButtonStyle">Envoyer</button>
  </form>
  </div>
  
