<div class="container-contact">
    <!-- Default form contact -->
    <form class="text-center" [formGroup]="register" (ngSubmit)="onSubmit()">
    
        <p class="h4 mb-4">S'enregistrer</p>
      
        <!-- Name -->
        <input type="text" formControlName="name" id="defaultContactFormName" mdbInput
          class="form-control mb-4" placeholder="Nom">
        <input type="text" formControlName="email" id="defaultContactFormEmail" mdbInput
          class="form-control mb-4" placeholder="Email">
        <!-- Email -->
        <input type="email" formControlName="ville" id="defaultContactFormVille" mdbInput
          class="form-control mb-4" placeholder="Ville">
        <input type="email" formControlName="codePostal" id="defaultContactFormCodePostal" mdbInput
        class="form-control mb-4" placeholder="Code postal">
        <input type="email" formControlName="password" id="defaultContactFormCodePassword" mdbInput
        class="form-control mb-4" placeholder="Mot de passe">
        <input type="email" formControlName="repassword" id="defaultContactFormRepassword" mdbInput
        class="form-control mb-4" placeholder="Réecrire Mot de passe">
        <!-- Send button -->
        <button mdbBtn  class="ButtonStyle  waves-effect" mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Enregistrement</button>
      </form>
    </div>

